body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.chatbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

li {
    list-style: none;
}